@model Vocabulary.ViewModels.SignUpViewModel

@{
  ViewData["Title"] = "SignUp";
}

<h2>SignUp</h2>

<form asp-action="signup" asp-controller="account" asp-anti-forgery="true">
  <div class="validation" asp-validation-summary="ModelOnly"></div>
  <div>
    <div class="form-group">
      <label asp-for="Email">Email</label><br>
      <input type="text" asp-for="Email" required>
      <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
      <label asp-for="Username">Username</label><br>
      <input type="text" asp-for="Username" required>
      <span asp-validation-for="Username"></span>
    </div>
    <div class="form-group">
      <label asp-for="Password">Password</label><br />
      <input asp-for="Password" required />
      <span asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
      <input type="submit" value="SignUp" class="btn btn-outline-dark" />
      <span>&nbsp;or&nbsp;</span>
      <a asp-action="signin" asp-controller="account">SignIn</a>
    </div>
  </div>
</form>