@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h4>Statistics</h4>
</div>
<hr>

<p>Repeated today: @ViewBag.LearnedToday</p>
<p>English words: @ViewBag.EnCount</p>
<p>French words: @ViewBag.FrCount</p>
